@CHARSET "ISO-8859-1";

    html{
		position: fixed;
		background: url("Assets/background2.png") left 0 no-repeat; 
		background-color: #37489e
		}
		
	body{
		width: 50%;
		margin:auto;
		padding-top: 100px;
		}

	#hoverbutton a {
		display:block;
		background-image: url("Assets/hoverButton.png");
		background-position: right 0;
		width:80px;
		height:80px;
		}
		
	#hoverbutton a:hover {	
		background-position: 0 0;
		}

